{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>
        <script src="/static/js/main.js"></script>
        <link rel='stylesheet' href='/static/css/main.css'>
    </head>
    <title>waltz</title>
    <body>
        <div class="header">
            {{template "header" .}}
        </div>
        {{template "main" .}}
    </body>
</html>
{{end}}