{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>
    </head>
    <title>waltz</title>
    <body>
        <main>
            {{template "main" .}}
        </main>
    </body>
</html>
{{end}}