{{template "base" .}}

{{ define "header" }}
    <div class="loginHeader">
        <p>Login on Youtube & Spotify</p>
    </div>
{{ end }} 

{{ define "main" }}
<div id="main">
    <div class="loginRow">
        {{ if .LoggedInSpotify }}
            <img src="/static/img/spotify.svg" alt="spotify icon" class="providerIcon activeSpotify"/>
            <p>Logged in</p>
        {{ else }}
            <img src="/static/img/spotify.svg" alt="spotify icon" class="providerIcon"/>
            <a href="/auth?provider=spotify"><button class="loginButton">Login</button></a>
        {{ end }}
    </div>
    <div class="spacing"></div>
    <div class="loginRow">
        {{ if .LoggedInYoutube }}
            <img src="/static/img/youtube.svg" alt="youtube icon" class="providerIcon activeYoutube"/>
            <p>Logged in</p>
        {{ else }}
            <img src="/static/img/youtube.svg" alt="youtube icon" class="providerIcon"/>
            <a href="/auth?provider=google"><button class="loginButton">Login</button></a>
        {{ end }}
    </div>
</div>
{{ end }}