* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Ubuntu Mono", monospace;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    background-color: #F1F3F6;
    color: #34495E;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}

.selectAllContainer {
    display: flex;
    flex-direction: row;
}

.selectAllInput {
    margin-right: 10px;
}

.playlistTable {
    width: 100%;
}

.playlistTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.playlistTable td, .playlistTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
/* #main {
    display: flex;
    justify-content: center;
} */

/* .test {
    display: inline-block;
} */